<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NeL - Landscape</title>
    <script src="../../../../jspm_packages/system.js"></script>
    <script>
        System.config({ baseURL: "../../../../" });
    </script>
    <script src="../../../../config.js"></script>
    <style>
        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%
        }
    </style>
</head>
<body>
<input type="file" multiple onchange="handleFiles(this.files);">
<script>
    System.import("sample/3d/landscape/view/src/main");
</script>
</body>
</html>
